*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}


.feature{
  color: whitesmoke;
  font-weight: bolder;
  word-spacing: 4px;
  letter-spacing: 2px;
}

.orderHistory{
  color: whitesmoke;
  letter-spacing: 3px;
  word-spacing: 4px;

}

.tableHead{
  color: whitesmoke;
  letter-spacing: 1px;
}

.feature:hover{
  color: crimson;
}

.home{
  color: whitesmoke;
  font-weight: bold;
  background-color: #0047AB !important;
}

/*From component / Main.js*/
.main{
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  word-spacing: 5px;
  letter-spacing: 2px;
}


.mainModal{
  padding-bottom: 15px;
}

/*Footer Section Styling*/

.footer-main{
  justify-content: center;
  font-size: small;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  text-align: justify;
  padding-top: 2em;
  margin: auto;
  text-align: justify;

}

.footer-left{
  text-align: justify;
  justify-content: center;
}

.footer-center{
  text-align: center;
  justify-content: center;
}

.footer-right{
  text-align: center;
  justify-content: center;
}

/*
FOOTER END
*/

.Pages{
  background-color: #0047AB !important;
}

.header{
  color: white;
  background-color: crimson;
  }

.navi{
  color: white !important;
  font-weight: bold !important;
  
}


.column {
  float: left;
  width: 100px;
  display: inline;

}

.follow{
  font-weight: bolder;
}


.dash{
  font-weight: bold;
}

.fb{
  margin-left: 400px;
}

.remove{
  color: crimson;
}

.contact-image{
  background-image: url("../public/img/woman.jpg");
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px 400px;
  margin: auto;
}

.cartPrice{
  color: whitesmoke;
}

.totalItems{
  color: whitesmoke;
}

.contact{
  color: black;
  margin:  60px;
  max-width: 300px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.2);
}


.social{
  margin: auto;
  margin-left: 100px;
  position: fixed;
}


.fb{
  margin-left: 200px;
  position: fixed;
}

.slogan{
  font-size: 100px;
  font-stretch: ultra-expanded !important;
  font-weight: bolder;
  font-size: 10vw;
  margin-bottom: 1em;
  text-decoration: underline overline;
  text-shadow: 2px 2px ghostwhite;
  transition: 2s;
  letter-spacing: 8px;
  word-spacing: 4px;
}


.sloganButton{
  align-content: center;
  margin-bottom: 2em;
}


.myProduct{
  font-weight: bolder;
  word-spacing: 5px;
  transition: 2s;
}

.productForm{
  background-color: palevioletred !important;
  color: dimgray;
  margin:  auto;
  max-width: 800px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.2);
}

.dash{
  background-color: palevioletred !important;
  color: dimgray;
  margin:  auto;
  max-width: 900px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.2);
}

.dashBoard{
  color: dimgray;
  margin:  auto;
  font-size: 50px;
  font-stretch: ultra-expanded !important;
  font-weight: bolder;
  letter-spacing: 2px;
  word-spacing: 4px;
  max-width: 900px;
  border-radius: 10px;
  background-color: lightgray;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.3);
}


.cardHighlight{
  border: 5px;
  border-color: crimson !important;
  border-width: 2px !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  min-height: 100%;
}


.margin-left{
  margin: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}


.text{
  justify-content: center;
}

.loginpage{
    color: whitesmoke;
    background-color: crimson !important;
    margin:  10px;
    max-width: 300px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 30px 20px 10px rgba(0,0,0,0.2);
}

.login-image{
    background-image: url("../public/img/man.jpg");
    background-color: crimson !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-image{
    background-image: url("../public/img/speaker.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.reg{
  font-weight: bolder;

  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.3);
}


.register{
    color: whitesmoke;
    background-color: crimson !important;
    margin-left: 10px;
    max-width: 400px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 30px 20px 10px rgba(0,0,0,0.3); 
}

.home{
  background-image: url("../public/img/overlay.png"), url("../public/img/ecoms.jpg");
  height: 100%;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20rem;

}

.containerbox{
  background-image: url("../public/img/man.jpg");
  color: gray;
  margin:  20px;
  max-width: 400px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 30px 20px 10px rgba(0,0,0,0.2);
}

